@import "tailwindcss";

:root {
  --foreground: #fff;
  --background: #010203;
  --blue-neon: #03e9f4;
  --green-neon: #54f2a6;
}

@theme inline {
  --color-background: oklch(1 0 0);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: oklch(37.1% 0 0);
  --color-neon: oklch(0.8425 0.2767 143.13);
  --color-blue-neon: var(--blue-neon);
  --color-paragraph: oklch(67.64% 0.00008 271.152);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

@font-face {
  font-family: 'Styro';
  src: url('/fonts/Styro-Variable.woff2') format('woff2');
  font-display: swap;
}

.styro {
  font-family: 'Styro', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

h1 {
  font-size: 3rem;
  /* 96 px */
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.03em;
}

h3 {
  font-size: 1.5rem;
  /* 24px */
  letter-spacing: -0.03em;
}

p {
  font-size: 1.1rem;
  /* 16px */
  color: #d4d4d4;
}

.checkerboard-border {
  background: transparent;
  background-image:
    repeating-linear-gradient(135deg, #e5e5e5 0, #e5e5e5 1px, transparent 1px, transparent 15px);
  /* repeating-linear-gradient(180deg, #e5e5e5 0, #e5e5e5 1px, transparent 1px, transparent 20px); */

}

#post-content ul {
  list-style-type: square;
  margin-left: 0;
}

#post-content ol {
  list-style-type: square;
  margin-left: 0;
}

#post-content li {
  margin-left: 1rem;
}

#post-content p {
  line-height: 1.7rem;
}

td {
  padding-left: .5rem;
  padding-right: 1rem;
  border-right: 1px solid #e5e5e5;
}

.crossed-lines-gradient {
  background-image:
    repeating-linear-gradient(135deg, #e5e5e5 0px, #e5e5e5 1px, transparent 2px, transparent 10px),
    repeating-linear-gradient(45deg, #e5e5e5 0px, #e5e5e5 1px, transparent 2px, transparent 10px);
}

.crossed-lines-gradient2 {
  background-image:
    repeating-linear-gradient(135deg, #e5e5e5 0px, #e5e5e5 .5px, transparent .5px, transparent 3px),
    repeating-linear-gradient(45deg, #e5e5e5 0px, #e5e5e5 .5px, transparent .5px, transparent 3px);
}

blockquote {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.blue-shadow {
  box-shadow: 5px 5px 15px 10px #03e9f4;
}

.neon-animation {
  animation: neon-blink 2s infinite alternate;

}

@keyframes neon-blink {
  14% {
    opacity: 1;
  }

  15% {
    opacity: .4;
  }

  16% {
    opacity: 1;
  }

  17% {
    opacity: .7;
  }

  18% {
    opacity: 1;
  }

  44% {
    opacity: 1;
  }

  45% {
    opacity: .7;
  }

  46% {
    opacity: 1;
  }

  74% {
    opacity: 1;
  }

  75% {
    opacity: .7;
  }

  76% {
    opacity: .7;
  }

  77% {
    opacity: .4;
  }

  78% {
    opacity: .4;
  }

  79% {
    opacity: 1;
  }

  98% {
    opacity: 1;
  }

  99% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}